**/.gradle/
**/.idea/
**/.kotlin/
**/build/
**/local.properties
**/gradle-daemon-jvm.properties
**/.externalNativeBuild/
**/.cxx/
**/__pycache__/
*.pyc
*.iml
*.jks
*.keystore
*.p12
*.pem
*.apk
*.aab
*.db
*.db-shm
*.db-wal
**/testkey*
**/key.properties
**/keystore.properties
**/google-services.json
.env
.env.*
.DS_Store
